@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.logocolor {
    stop-color: var(--color-infinite-100);
}

.logocolor2 {
    stop-color: var(--color-infinite-200);
}

.ff_nunito {
    font-family: "Nunito", sans-serif;
}

.tabs::-webkit-scrollbar {
    display: none;

}

@keyframes mover {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0px);
    }
}
.preloader {
    margin: 20% auto 0;
    transform: translateZ(0);
}

.preloader:before,
.preloader:after {
    content: '';
    position: absolute;
    top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: animation 1.2s infinite ease-in-out;
}

.preloader {
    animation-delay: -0.16s;
}

.preloader:before {
    left: -40px;
    animation-delay: -0.32s;
}

.preloader:after {
    left: 40px;
}

@keyframes animation {

    0%,
    80%,
    100% {
        box-shadow: 0 50px 0 -1em #F8DBEB;
    }

    40% {
        box-shadow: 0 50px 0 0 #F8DBEB;
    }
}