@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.logocolor {
    stop-color: var(--color-infinite-100);
}

.logocolor2 {
    stop-color: var(--color-infinite-200);
}

.ff_nunito {
    font-family: "Nunito", sans-serif;
}

.tabs::-webkit-scrollbar {
    display: none;
}