  :root {
    --color-infinite-100: #F44236;
    --color-infinite-200: #334FF0;
    --logo-text: #000000;
    --nav-textcolor: #03020D;
    --nav-hovercolor: #F44236;
    --header-bg: #334FF024;
    --header-headingcolor: #F44236;
    --linear-btn: linear-gradient(96.09deg, #F44236 4.18%, #334FF0 94.82%);
    --btn-textcolor: #ffffff;
    --header-bgcircle: #334FF0;
    --bg-process: #E2E6FD;
    --learn-textcolor: #F44236;
    --bg-email: #8000FF1A;
    --email-btncolor: #8000FF;
    --tab-border: linear-gradient(88.11deg, rgba(128, 0, 255, 0.6) 12.48%, #FBCB0C 93.56%, #FBCB0C 93.56%, #FFCC00 93.56%, rgba(251, 203, 12, 0.6) 93.57%);
    --bg-circlecolor: #F442361A;
    --bg-helpcircle: #F442361A;
    --bg-layer: #8000FF26;
    --help-stopcolor: #F44236;
    --help-stopcolor1: #334FF0;
  }


  /* background: #F442361A; */