  /* ======================Pink-theme-css==================== */

  :root {
    --color-infinite-100: #D0006F;
    --color-infinite-200: #0055B2;
    --logo-text: #131619;
    --nav-textcolor: #131619;
    --nav-hovercolor: #0055B2;
    --header-bg: #D0006F24;
    --header-headingcolor: #D0006F;
    --linear-btn: linear-gradient(97.1deg, #D0006F 4.95%, #0055B2 94.87%);
    --btn-textcolor: #FFFFFF;
    --header-bgcircle: #D0006F;
    --bg-process: #F8DBEB;
    --learn-textcolor: #0055B2;
    --bg-email: #D4E9FF;
    --email-btncolor: #0055B2;
    --tab-border: linear-gradient(89.1deg, #D0006F 4.95%, #0055B2 94.87%);
    --bg-circlecolor: #D0006F1A;
    --bg-helpcircle: #D0006F1A;
    --bg-layer: #3728A326;
    --help-stopcolor: #D0006F;
    --help-stopcolor1: #0055B2;
    --set-fill1: #131619;
    --set-fill2: #131619;
    --set-fill3: #0055B2;
    --set-circle: #0055B21A;
  }

  /* #0055B21A */